langchain-text-splitters
langchain-community
langchain-openai
langchain-core
faiss-cpu

# load file docx
unstructured
unstructured[docx]
docx2txt

langchain-chroma
langchain-ollama
langchain
tqdm
tini
# tạo api
fastapi 
uvicorn