langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain_nvidia_ai_endpoints

chromadb

fastapi
uvicorn

unstructured
unstructured[docx]
docx2txt
pypdf

openai
python-dotenv
tqdm
